<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.GoodsMapper">
    <select id="queryAllGoods" resultType="com.example.entity.Goods">
    select * from goods
    </select>
    <!--    更新库存-->
    <update id="updateGoodsNum" parameterType="com.example.entity.GoodsOrder">
        update goods set goods.goodsNum = goods.goodsNum - #{goodsNum} where goods.goodsName = #{goodsName}
    </update>
</mapper>
